*{
    margin: 0px;
    font-family:'Open Sans', sans-serif;
}
nav li{
    list-style: none;
    margin-right:20px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.primary-color{
    color: orange;
}

nav{
    display:flex;
    justify-content: space-between;
    margin:50px 200px;
}

nav ul{
    display:flex;
    align-items: center;
   
}
nav li .btn{
    width: 150px;
    height:64px;
    padding:18px 35px;
    border:0;
    background-color: orangered;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 2px;
    
}

/*banner mode on*/
 .banner{
    display:flex;
    margin:0px 50px 0px 200px;
    align-items: center;
}

.text h1{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.text h3{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 5px;
}
.text nav{
    display:flex;
    margin-left:200px;
}
.text nav li{
    list-style: none;
}
.text p{
    color: #757575;
    font-size: 18px;
    font-weight:400;
    margin-bottom: 30px;
}
.banner .btn{
    background-color:orangered;
    border-radius: 2px;
    border:0;
    padding:19px 17px 18px 51px;
    color:white;
    margin-right:47px;
    height: 64px;
    width:200px;
    font-size: 15px;
    font-weight:400;
}
.banner .con-btn{
    border:1px solid orangered;
    border-radius: 2px;
    padding:19px 3px 18px 58px;
    color:orangered;
    height:64px;
    width:164px;
    font-size: 15px;
    font-weight:400;
}
.banner .text{
    margin-right: 100px;
}
.header{
    background-color: rgb(241, 238, 234);
   
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom,left;
    margin-top:0px;
}
.banner .image{
    margin-right: 100px;
    width: 576px;
    height:676px;
}
/*about section*/
.main{
    width:1140px;
    height:550px;
    
    

}
.about{
    margin:130px 220px 0px 220px;
    background-color: rgb(242, 234, 223);
    padding:130px 150px;
    width:827px;

}
.about h3{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}
.about p{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color:rgb(152, 154, 156);
    margin:30px 0px;
}
.about-info-container{
    display:flex;
    justify-content: space-around;
        
}
.about-info-container .info-title{
    color:#757575;
    font-size:20px;
    font-weight:400;
    text-align: center;
}
.about-info-container .info-description{
    color: #101010;
    font-size:20px;
    font-weight:700;

}


